@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: poppins;
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.logo {
  margin-left: 83px;
}

.toggle-btn {
  margin-right: 83px;
}

.sidebartool {
  margin-left: -10%;
  height: 600px;
}